#bloc_page
{
width: 600px;
margin:auto;
}
body
{
	background:url("fond_jaune.png");
	color:#F7F7F7;
}


#banniere_description
{
	display: flex;
	flex-direction: row;
	position: left;
	clear: both;
	margin-right: 150px;
}

.banniere
{
	margin-top: 20px;
	padding-right: 18%;
	padding-left: 19%;
	border: orange groove 2px;
	border-radius: 6px;
}

.menu
{
list-style-type: none;


}
nav
{
	float:right;
	width:20%;
	border: blue 2px solid;
	border-radius: 6px;
	margin-top: -60px;
	margin-left: -60px;
	margin-right: 40px;
	padding-right: 30px;
}

li
{
	display: inline-block;
	text-align: center;

}

.dessous
{
	clear:both;
	position: relative;
}

header
{
	background: url("separateur.png") repeat;
	display:flex;
	justify-content: space-between;
	align-items: flex-end;
}

#logo
{
	display:flex;
	flex-direction: row;
	align-items: baseline;
}

#logo img
{
	width: 59px;
	height: 60px;
}

